/* IMPLANTACAO DAS FONTES E RESET DA PAGINA, IMAGENS, ANCORAS E UL */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Public Sans', sans-serif;
    ;
}
/* CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-behavior: smooth;

}

.imagem-ao-lado-do-titulo {
    width: 30px; /* Defina a largura desejada */
    height: auto; /* Isso manterá a proporção da imagem */
    margin-right: 5px; /* Espaçamento à direita para separar a imagem do título */    
    vertical-align: middle; /* Alinhar verticalmente ao meio */
}

.navegacao .menu {
    display: flex;
    color:#faf8f8;
}

.navegaçao .menu .item{
    margin: 15px;
    color:#faf8f8;
}

.navegacao .menu .item a {
    padding: 15px;
    transition: 0.3s ease-in-out;
    color: #070000;
}

.navegacao .menu .item a:hover{
    background-color: #0e4dfb;
    text-decoration: none;
    color: #faf8f8;
}

.menu li a {
    color: #070000;
}

.titulo{
    color: #070000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    background-color: #ffffff;
}


/* SOBRE NÓS */
.sobre-nos {
    background-image: url(img/brilho.jpeg);
    margin-top: 2px;
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa no fundo */
}

p {
    margin-bottom: 20px; /* Defina a quantidade de espaço desejada */
    text-align: justify;
}

/*titulos em branco brilhante*/
.sobre, .integrantes, .projeto, .grupo{
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-left: 30px;
}

.projetos_passados{
    font-size: 15px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*titulos em azul brilhante*/
.the-future, .motor-de-busca,.desenvolvedores{
    font-size: 20px;
    color: #5BE6FF;
    text-shadow: 0 0 10px rgba(16, 41, 229, 0.8);
    margin-left: 30px;
}
.heranca{
    font-size: 10px;
    color: #5BE6FF;
    text-shadow: 0 0 10px rgba(16, 41, 229, 0.8);
}
.ibiden {
    font-size: 20px;
    color: #5BE6FF;
    text-shadow: 0 0 10px rgba(16, 41, 229, 0.8);
    margin-left: 30px;
    text-transform: capitalize;
}

.ibiden::first-letter {
    text-transform: lowercase;
}

/*conteudos e explicação*/
.conteudo-sobre-nos, .explicacao-projeto, .explicacao-grupo{
    margin-top: 70px;
    color: #faf8f8;
    margin-left: 30px;
    text-align: justify;
    padding-right: 200px;
}


/*icones e nomes*/
.icones-nomes > div {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-left: 20px;
    justify-content: space-between;
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

.icone {
    margin-top: 10px;
    width: 200px; /* Defina o tamanho desejado */
    height: 200px; /* Defina o tamanho desejado */
    border-radius: 50%; /* Torna a imagem redonda (deve ser metade do tamanho) */
    overflow: hidden; /* Garante que a imagem seja cortada corretamente para um círculo */
    margin-right: 10px; /* Adiciona espaço à direita de cada ícone */
    border: 5px solid #5BE6FF; /* Define uma borda vermelha de 10px */
}


.icone img {
    width: 100%; /* Preenche o contêiner de ícone */
    height: 100%; /* Preenche o contêiner de ícone */
}


.nome {
    color: #ffffff;
    margin-top: 5px; /* Adicione margem superior para separar ícones e nomes */
    margin-left: 40px;
}

button {
    background-color: #255cff;
    margin-top: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    z-index: 1; /*para que o botão fique acima dos elementos abaixo */
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3); /* Sombra para dar um efeito de brilho */
}
