/* IMPLANTACAO DAS FONTES E RESET DA PAGINA, IMAGENS, ANCORAS E UL */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Public Sans', sans-serif;
    ;
}
/* CABEÇALHO */

.navegacao .menu {
    display: flex;
    color:#faf8f8;
}

.navegaçao .menu .item{
    margin: 15px;
    color:#faf8f8;
}

.navegacao .menu .item a {
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.navegacao .menu .item a:hover{
    background-color: #0e4dfb;
    text-decoration: none;
    color: #faf8f8;
}

.menu li a {
    color: #070000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.imagem-ao-lado-do-titulo {
    width: 30px; /* Defina a largura desejada */
    height: auto; /* Isso manterá a proporção da imagem */
    margin-right: 5px; /* Espaçamento à direita para separar a imagem do título */    
    vertical-align: middle; /* Alinhar verticalmente ao meio */
}

/* Estilizando o conteúdo da caixa de pesquisa */
#location-input {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: -500px; /* Adiciona um espaço superior para separar do título */
    width: 400px; /* A largura da caixa de pesquisa */
    padding: 10px; /* Adiciona algum espaço interno para melhor aparência */
    border-radius: 15px; /* Adiciona cantos arredondados */
    border-color: #faf8f8;
    text-align: center; /*Centraliza o conteúdo da caixa de pesquisa*/
    font-size: 16px; /* Define o tamanho da fonte */
    margin-left: 350px;
}


/* Estilizando o botão de pesquisa */
button{
    background-color: #33459e; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Cantos arredondados do botão */
    cursor: pointer; /* Cursor de mão ao passar o mouse sobre o botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    margin-top: 10px; /* Espaço superior para separar da caixa de pesquisa */
}

/* Estilizando o botão de pesquisa quando o mouse passa sobre ele */
button:hover {
    background-color: #4d97e6; /* Cor de fundo alterada */
}
#map {
    margin-top: 20px;
    height: 600px;
    width: 100%;
}