/* IMPLANTACAO DAS FONTES E RESET DA PAGINA, IMAGENS, ANCORAS E UL */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER DA MINHA PAGINA */

header {
    background-color: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    width: 100%;
 
}



.cabecalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    position: fixed;
    background: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

.cabecalho.scrolled {
    background-color: rgb(38, 38, 38);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo{
    display: flex;
    width: 96px;
    height: auto;
    margin-right: 350px;
    margin-left: 5px;
}



.navegacao-opcoes-menu .items-menu {
    display: flex;
}

.navegacao-opcoes-menu .items-menu .item {
    margin: 10px;
}

.navegacao-opcoes-menu  .items-menu .item a {
    padding: 15px;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s ease-in-out;
}

.navegacao-opcoes-menu .items-menu .item a:hover {
    background-color: #0e4dfb; ;
    color: white;
    border-radius: 12px 20px 4px;
}

.user-icon {
    width: 60px; /* Define a largura */
    height: 60px; /* Define a altura */
    border-radius: 50%; /* Deixa o ícone circular, se for quadrado */
    margin-top: 5px;
}

.user-menu {
    display: none;
    position: absolute;
    right: 0;
    margin-top: -10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    width: 180px;
}

.user-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-menu a:hover {
    background-color: #f1f1f1;
}

.user-menu-container:hover .user-menu {
    display: block;
}


/* SOBRE NÓS */
.sobre-nos {
    background-image: url(img/brilho.jpeg);
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa no fundo */
}

p {
    margin-bottom: 20px; /* Defina a quantidade de espaço desejada */
    text-align: justify;
}

/*titulos em branco brilhante*/
.sobre, .integrantes, .projeto, .grupo{
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-left: 30px;
}


.projetos_passados{
    font-size: 15px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*titulos em azul brilhante*/
.the-future, .motor-de-busca,.desenvolvedores{
    font-size: 20px;
    color: #5BE6FF;
    text-shadow: 0 0 10px rgba(16, 41, 229, 0.8);
    margin-left: 30px;
}
.heranca{
    font-size: 10px;
    color: #5BE6FF;
    text-shadow: 0 0 10px rgba(16, 41, 229, 0.8);
}
.ibiden {
    font-size: 20px;
    color: #5BE6FF;
    text-shadow: 0 0 10px rgba(16, 41, 229, 0.8);
    margin-left: 30px;
    text-transform: capitalize;
}

.ibiden::first-letter {
    text-transform: lowercase;
}

/*conteudos e explicação*/
.conteudo-sobre-nos, .explicacao-projeto, .explicacao-grupo{
    margin-top: 70px;
    color: #faf8f8;
    margin-left: 30px;
    text-align: justify;
    padding-right: 200px;
}


/*icones e nomes*/
.icones-nomes > div {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-left: 20px;
    justify-content: space-between;
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

.icone {
    margin-top: 10px;
    width: 200px; /* Defina o tamanho desejado */
    height: 200px; /* Defina o tamanho desejado */
    border-radius: 50%; /* Torna a imagem redonda (deve ser metade do tamanho) */
    overflow: hidden; /* Garante que a imagem seja cortada corretamente para um círculo */
    margin-right: 10px; /* Adiciona espaço à direita de cada ícone */
    border: 5px solid #5BE6FF; /* Define uma borda vermelha de 10px */
}


.icone img {
    width: 100%; /* Preenche o contêiner de ícone */
    height: 100%; /* Preenche o contêiner de ícone */
}


.nome {
    color: #ffffff;
    margin-top: 5px; /* Adicione margem superior para separar ícones e nomes */
    margin-left: 40px;
}

button {
    background-color: #255cff;
    margin-top: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    z-index: 1; /*para que o botão fique acima dos elementos abaixo */
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3); /* Sombra para dar um efeito de brilho */
}
