.body {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/img_login.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    margin-top: -8px;
    background-repeat: no-repeat;
}

p {
    color: rgb(243, 72, 72);
    background-color: rgba(0, 0, 0, 0.5); /* Aqui, o último valor (0.5) representa a transparência */
    border-radius: 20px;
    height: 50px;
    text-align: center; /* Centralizar o texto horizontalmente */
    line-height: 25px; /* Centralizar o texto verticalmente */
}


label{
    color: aliceblue;
    margin-top: 15px;
}


.registration-form {
    margin-top: 120px; /* Ajuste o valor conforme necessário */
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}


.registration-form p {
    
    color: #ffffff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 0px; /* Espaçamento acima do parágrafo */
    text-shadow: 0 0 10px #0000ff, 0 0 10px #0000ff, /* Azul escuro */
                 0 0 20px #0000cd, 0 0 20px #0000cd, /* Azul médio */
                 0 0 30px #0000ff, 0 0 30px #0000ff, /* Azul escuro */
                 0 0 40px #1e90ff, 0 0 40px #1e90ff, /* Azul claro */
                 0 0 50px #00f, 0 0 50px #00f; /* Azul */
}

.registration-form h2 {
    color: #ffffff; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
    margin-top: 15px; /* Espaçamento acima do parágrafo */
}

.registration-form a {
    color: #3b4aef; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    margin-top: 10px; /* Espaçamento acima do parágrafo */
}

input[type="submit"] {
        background-color: #4CAF50; /* Cor de fundo */
        color: white; /* Cor do texto */
        padding: 10px 20px; /* Espaçamento interno */
        border: none; /* Remover borda */
        border-radius: 5px; /* Borda arredondada */
        cursor: pointer; /* Cursor ao passar por cima */
        text-decoration: none; /* Remover sublinhado */
        font-size: 16px; /* Tamanho do texto */
        width: 300px;
        margin-top: 0px;

}

input[type="text"] {
        background-color: #ffffff; /* Cor de fundo */
        color: rgb(7, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor ao passar por cima */
}

input[type="password"]{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}


input {
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
}

