<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/style-clima-tempo.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
</head>
<body>
    <header class="cabecalho" id="header">
    
        <a href="#" class="logo">
           <img src="../static/img/nuvem_dourada.png" alt="" class="logo">
        </a>
    
     <nav class="navegacao-opcoes-menu">
        <ul class="items-menu">
            <li class="item"><a href= "{{ url_for('busca_clima')}}">Home</a></li>
            <li class="item"><a href="{{ url_for('dengueinsight') }}">Dengue Insight</a></li>
            <li class="item"><a href= "{{ url_for('buscar_impactos')}}">EcoDengue</a></li>
            <li class="item"><a href= "{{ url_for('dashboard')}}">Dengue PBI</a></li>
            <li class="item"><a href= "{{ url_for('manual')}}">Help</a></li>
            <li class="item"><a href= "{{ url_for('sobre_nos')}}">About</a></li>
        </ul>
    </nav>
    <div class="user-menu-container">
        <img src="static/img/icone_usuario.png" alt="User Icon" class="user-icon">

        <div class="user-menu">
            <a href="{{ url_for('gerenciar_conta') }}">Gerenciar sua Conta</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div> 
</header>

<body>
    <main class="conteudo-principal" id="projetos">
        <section class="paineis">
            <div class="pesquisa">
                <div class="pesquisa">
                    <form action="/get_weather" method="post">
                        <input type="text" id="cidade" name="cidade" required placeholder="Digite a cidade, UF e descubra o Clima & Tempo" class="caixa-pesquisa">
                        <input type="submit" value="Pesquisar">
                    </form>
                </div>                
            </div>
            </div>                
            {% if error %}
            <div class="error-message">
                <p>{{ error }}</p>
            </div>
            {% endif %}
            <div class="container">
                <div class="temperature-and-square">
                    {% if request.method == "POST" %}
                    <h1>{{ request.form['cidade'] }}</h1>
                    {% endif %}
                    <h2>{{ temperatura }}°C</h2>
                </div>
            </div>
            <div class= "container">
                <div class="square">
                    <h3>Índice uv<br></h3>
                    <p><br>{{uv}}</p>
                </div>
                <div class="square">
                    <h3> Velocidade do Vento<br></h3>
                    <p><br>{{ velocidade_vento }} km/h</p>
                </div>
                <div class="square">
                    <h3>Cobertura das Nuvens<br></h3>
                    <p><br>{{cobertura_nuvens}} %</p>
                </div>
                <div class="square">
                    <h3>Umidade<br></h3>
                    <p><br>{{umidade}} %</p>
                </div>      
            </div>
            <div class="container2">
                <div class="square">
                    <h3>Precipitação<br></h3>
                    <p><br>{{precipitacao}} mm</p>
                </div>
                <div class="square">
                    <h3>Pressão<br></h3>
                    <p><br>{{pressao}} hPa</p>
                </div>
                <div class="square">
                    <h3>Sensação<br></h3>
                    <p><br>{{sensacao}} °C</p>
                </div>
                <div class="square">
                    <h3>Visibilidade<br></h3>
                    <p><br>{{visibilidade}} km</p>
                </div>
            </div>
            <h4>fonte: https://www.weatherapi.com/</h4>
        </section>
    </main>
        <div class="chatbot-toggle" id="chatbot-toggle" aria-label="Abrir Chatbot" style="display: flex; flex-direction: column; align-items: center;">
            <img src="static/img/nuvem_mosquito.png" alt="Ícone do Chat" style="width: 80px; height: 80px; margin-top: 5px;"> <!-- Ajuste o caminho se necessário -->
    </div>
    <div class="chat-container" id="chat-container">
        <div class="chat-header">
            <h3>ChatiBIDEN</h3>
            <span class="close-btn" id="close-btn" style="cursor: pointer;">&times;</span>
        </div>
    <div class="chat-box" id="chat-box">
        <div class="message bot-message">
            👋 Olá! Sou o ChatiBIDEN, pronto para te ajudar a entender mais sobre o clima e os casos de dengue! 
            Como posso te ajudar hoje? Escolha uma das opções abaixo ou insira sua pergunta para começar:
            <ul id="main-options">
                <li><a href="{{ url_for('busca_clima')}}">Ver dados climáticos 🌦️</a></li>
                <li><a href="{{ url_for('dengueinsight')}}">Visualizar Métricas da Dengue 🦟</a></li>
                <li><a href="{{ url_for('casosgrafico')}}">Previsão da Dengue 🚨</a></li>
                <li><a href="{{ url_for('buscar_impactos')}}">Saber mais sobre Impactos Ambientais 🔥</a></li>
                <li><a href="{{ url_for('mapadengue')}}">Mapa da Dengue no Brasil 🌎</a></li>
                <li><a href="{{ url_for('dashboard')}}">Acessar Dashboard 📈</a></li>
                <li><a class="option-btn" href="#" onclick="showSubOptions()">Explicação do Dashboard 👨‍🏫</a></li>
            </ul>
        </div>

        <!-- Sub-opções ocultas inicialmente -->
        <div class="sub-options" id="sub-options" style="display: none;">
            <p>Escolha uma das opções abaixo para continuar:</p>
            <button onclick="explainTopic('aumento-temperatura')">Aumento da Temperatura 🌡️</button>
            <button onclick="explainTopic('dengue-e-clima')">Dengue e Clima 🦟</button>
            <button onclick="explainTopic('dengue-e-chuva')">Dengue e Chuva 🌧️🦟</button>
            <button onclick="explainTopic('como-se-proteger')">Como se Proteger 🧴</button>
            <a class="option" href="#" onclick="goBack()">Voltar</a>
        </div>
    </div>

        <div class="input-container">
            <input type="text" id="user-input" class="input-field" placeholder="Digite sua mensagem..." aria-label="Campo de mensagem">
            <button class="send-btn" onclick="sendMessage()">Enviar</button>
        </div>
    </div>


    <script src="static/script_chat.js"></script>
    <script src="static/script_time.js"></script>
    </script>
</body>
</html>