<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/style-dashboard.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
</head>
<body>
    <header class="cabecalho" id="header">
    
        <a href="#" class="logo">
           <img src="../static/img/nuvem_dourada.png" alt="" class="logo">
        </a>
    
     <nav class="navegacao-opcoes-menu">
        <ul class="items-menu">
            <li class="item"><a href= "{{ url_for('busca_clima')}}">Home</a></li>
            <li class="item"><a href="{{ url_for('dengueinsight') }}">Dengue Insight</a></li>
            <li class="item"><a href= "{{ url_for('buscar_impactos')}}">EcoDengue</a></li>
            <li class="item"><a href= "{{ url_for('dashboard')}}">Dengue PBI</a></li>
            <li class="item"><a href= "{{ url_for('manual')}}">Help</a></li>
            <li class="item"><a href= "{{ url_for('sobre_nos')}}">About</a></li>
        </ul>
    </nav>
    <div class="user-menu-container">
        <img src="static/img/icone_usuario.png" alt="User Icon" class="user-icon">

        <div class="user-menu">
            <a href="{{ url_for('gerenciar_conta') }}">Gerenciar sua Conta</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div> 
</header>

    <div class="iframe-container">
        <iframe title="iBIDEN_PBI" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMTQ4MTc2ZGQtOGY3Zi00N2FkLWE1YzAtZTllNWJlYjdmZDU4IiwidCI6ImNmNzJlMmJkLTdhMmItNDc4My1iZGViLTM5ZDU3YjA3Zjc2ZiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

        <div class="chatbot-toggle" id="chatbot-toggle" aria-label="Abrir Chatbot" style="display: flex; flex-direction: column; align-items: center;">
            <img src="static/img/nuvem_mosquito.png" alt="Ícone do Chat" style="width: 80px; height: 80px; margin-top: 5px;"> <!-- Ajuste o caminho se necessário -->
    </div>
    <div class="chat-container" id="chat-container">
        <div class="chat-header">
            <h3>ChatiBIDEN</h3>
            <span class="close-btn" id="close-btn" style="cursor: pointer;">&times;</span>
        </div>
    <div class="chat-box" id="chat-box">
        <div class="message bot-message">
            👋 Olá! Sou o ChatiBIDEN, pronto para te ajudar a entender mais sobre o clima e os casos de dengue! 
            Como posso te ajudar hoje? Escolha uma das opções abaixo ou digite <strong>Dengue</strong> para começar:
            <ul id="main-options">
                <li><a href="{{ url_for('busca_clima')}}">Ver dados climáticos 🌦️</a></li>
                <li><a href="{{ url_for('dengueinsight')}}">Visualizar Métricas da Dengue 🦟</a></li>
                <li><a href="{{ url_for('casosgrafico')}}">Previsão da Dengue 🚨</a></li>
                <li><a href="{{ url_for('buscar_impactos')}}">Saber mais sobre Impactos Ambientais 🔥</a></li>
                <li><a href="{{ url_for('mapadengue')}}">Mapa da Dengue no Brasil 🌎</a></li>
                <li><a href="{{ url_for('dashboard')}}">Acessar Dashboard 📈</a></li>
                <li><a class="option-btn" href="#" onclick="showSubOptions()">Explicação do Dashboard 👨‍🏫</a></li>
            </ul>
        </div>

        <!-- Sub-opções ocultas inicialmente -->
        <div class="sub-options" id="sub-options" style="display: none;">
            <p>Escolha uma das opções abaixo para continuar:</p>
            <button onclick="explainTopic('aumento-temperatura')">Aumento da Temperatura 🌡️</button>
            <button onclick="explainTopic('dengue-e-clima')">Dengue e Clima 🦟</button>
            <button onclick="explainTopic('dengue-e-chuva')">Dengue e Chuva 🌧️🦟</button>
            <button onclick="explainTopic('como-se-proteger')">Como se Proteger 🧴</button>
            <a class="option" href="#" onclick="goBack()">Voltar</a>
        </div>
    </div>

        <div class="input-container">
            <input type="text" id="user-input" class="input-field" placeholder="Digite sua mensagem..." aria-label="Campo de mensagem">
            <button class="send-btn" onclick="sendMessage()">Enviar</button>
        </div>
    </div>


    <script src="static/script_chat.js"></script>

<script>

function toggleMenu() {
    const menuItems = document.querySelector('.items-menu');
    const userMenuContainer = document.querySelector('.user-menu-container');

    menuItems.classList.toggle('active');
    userMenuContainer.classList.toggle('active');
}
    // Criar o botão no JavaScript
    const menuToggle = document.createElement("button");
    menuToggle.classList.add("menu-toggle");
    menuToggle.innerHTML = "☰";
    document.querySelector(".cabecalho").appendChild(menuToggle);

    // Alternar visibilidade do menu
    menuToggle.addEventListener("click", function () {
        const menu = document.querySelector(".navegacao-opcoes-menu");
        menu.classList.toggle("show");
});
</script>
</body>
</html>