<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
    <link rel="stylesheet" href="../static/style-dengueinsight.css">
</head>
<body>
    <header class="cabecalho" id="header">
    
        <a href="#" class="logo">
           <img src="../static/img/nuvem_dourada.png" alt="" class="logo">
        </a>
    
     <nav class="navegacao-opcoes-menu">
        <ul class="items-menu">
            <li class="item"><a href= "{{ url_for('busca_clima')}}">Home</a></li>
            <li class="item"><a href="{{ url_for('dengueinsight') }}">Dengue Insight</a></li>
            <li class="item"><a href= "{{ url_for('buscar_impactos')}}">EcoDengue</a></li>
            <li class="item"><a href= "{{ url_for('dashboard')}}">Dengue PBI</a></li>
            <li class="item"><a href= "{{ url_for('manual')}}">Help</a></li>
            <li class="item"><a href= "{{ url_for('sobre_nos')}}">About</a></li>
        </ul>
    </nav>
    <div class="user-menu-container">
        <img src="static/img/icone_usuario.png" alt="User Icon" class="user-icon">

        <div class="user-menu">
            <a href="{{ url_for('gerenciar_conta') }}">Gerenciar sua Conta</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div> 
</header>

<main>
    <section class="conteudo-informativo">
        <div class="conteudo">
            <div class="informacoes">
                <h2 class="titulo">DengueInsight<br></h2>
                <h3 class="subtitulo"><br>Aqui você encontra as ferramentas essenciais para monitorar a dengue no Brasil.</h3>
            </div>
        </div>

        <div class="retangulo-inferior-logos-empresas">
            <div class="items-logos">

            </div>
        </div>

    </section>

    <div class="espacamento">

    </div>


     <section class="services" id="ferramentas">
        <div class="services-container">
            <div class="service-item">
                <a href="{{ url_for('maps_calor')}}">
                    <img src="../static/img/mapa_calor.jpeg" alt="" class="image-services">
                <h3 class="title-service">Mapa de Temperatura Global</h3>
                <p class="paragrafo-services"><br>Encontre informações globais, com detalhes do vento, temperatura e pressão. Regule a altitude e obtenha as informações mais precisas para a sua realidade.</p>
                    </button>
                </a>
            </div>

            <div class="service-item">
                <a href="{{ url_for('mapadengue')}}">
                    <img src="../static/img/mapa_casos_br.webp" alt="" class="image-services">
                <h3 class="title-service">A Dengue no Brasil</h3>
                <p class="paragrafo-services"><br>Explore o mapa interativo do Brasil, que exibe o número de casos de dengue nas capitais brasileiras. Você pode visualizar detalhes sobre o número de casos para monitorar a situação da dengue no país.</p>
                    </button>
                </a>
            </div>

            <div class="service-item">
                <a href="{{ url_for('casosgrafico')}}">
                    <img src="../static/img/graficos_dengue.webp" alt="" class="image-services">
                <h3 class="title-service">Previsão de Casos de Dengue</h3>
                <p class="paragrafo-services"><br>Descubra a previsão do número de casos de dengue nas capitais brasileiras para as semanas. Através do gráfico de tendência que auxilia no monitoramento e na prevenção da dengue no Brasil.</p>
                    </button>
                </a>
            </div>
    </section> 
<div class="espacamento"></div>

</main>
<main class="conteudo-final">
    <section class="feedback">
        <h1 class="titulo">Gostaríamos de saber a sua perspectiva</h1>
        <div class= "frase-feedback">
            <p>Compartilhe sua opinião e ajude-nos a aprimorar sua experiência aqui no IBIDEN. <br>Valorizamos suas sugestões para oferecer um serviço melhor.<br><br>Clique no botão abaixo e deixe seu feedback</p>
        </div>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=veJyzyt6g0e96znVewf3bxP3XRBkcHFFkSY_Y_rmpwxUMDcxV1FQVklHQkVaUktUSzAzSUhRV1EzUC4u" target="_blank">
            <div class="feedback-button">
                <button>FEEDBACK</button>
            </div>
        </a>
        <section>
            <div class="direitos">
                <h1>IBIDEN&reg;</h1>
                <p><br>&copy; 2023.<br>All rights reserved.</p>
            </div>
            <div class="tags">
                <h1>TAGS</h1>
                <p><br>mudanças climáticas   •   news<br>  •   previsão em tempo real</p>
            </div>
            <div class="about">
                <h1>ABOUT</h1>
            <a href="{{ url_for('sobre_nos')}}">
                <div class="about-button">
                    <button><p>Sobre nós</p></button>
                </div>
            </a>
        </section>                        
    </section>
</main>

<script>
   window.addEventListener('scroll', function() {
    var header = document.getElementById('header');
    if (window.scrollY > 50) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
});

</script>

</body>
</html>