<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/style-gerenciar_conta.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
</head>
<body>
    <header class="cabecalho" id="header">
    
        <a href="#" class="logo">
           <img src="../static/img/nuvem_dourada.png" alt="" class="logo">
        </a>
    
     <nav class="navegacao-opcoes-menu">
        <ul class="items-menu">
            <li class="item"><a href= "{{ url_for('busca_clima')}}">Home</a></li>
            <li class="item"><a href="{{ url_for('dengueinsight') }}">Dengue Insight</a></li>
            <li class="item"><a href= "{{ url_for('buscar_impactos')}}">EcoDengue</a></li>
            <li class="item"><a href= "{{ url_for('dashboard')}}">Dengue PBI</a></li>
            <li class="item"><a href= "{{ url_for('manual')}}">Help</a></li>
            <li class="item"><a href= "{{ url_for('sobre_nos')}}">About</a></li>
        </ul>
    </nav>
    <div class="user-menu-container">
        <img src="static/img/icone_usuario.png" alt="User Icon" class="user-icon">

        <div class="user-menu">
            <a href="{{ url_for('gerenciar_conta') }}">Gerenciar sua Conta</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div> 
</header>


    </header>
    <main class="conteudo-principal" id="projetos">
        <section class="paineis">
            <h1 class="titulo">Bem-vindo(a), {{ user_name }}<br>
            Gerencie suas informações, privacidade e segurança.</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
                
            <form method="POST" action="/gerenciar_conta" class="password-form">
                <label for="current_password">Digite a senha atual:</label><br>
                <input type="password" id="current_password" name="current_password" required><br><br>
                <label for="new_password">Nova Senha:</label><br>
                <input type="password" id="new_password" name="new_password" required><br><br>
                <label for="confirm_password">Confirme a nova senha:</label><br>
                <input type="password" id="confirm_password" name="confirm_password" required><br><br>
                <input type="submit" value="Change Password">
            </form>
            <div class="imagem-painel projeto1 mostrar"></div>
        </section>
    </main>
<script>
    window.addEventListener('scroll', function() {
    var header = document.getElementById('header');
    if (window.scrollY > 50) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
}); 
</script>
    </body>
</html>
