<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
    <link rel="stylesheet" href="../static/style-indexx.css">
</head>
<body>
    <header class="cabecalho" id="header">

        <a href="#" class="logo">
           <img src="../static/img/nuvem_dourada.png" alt="" class="logo">
        </a>
    
     <nav class="navegacao-opcoes-menu">
        <ul class="items-menu">
            <li class="item"><a href= "{{ url_for('index')}}">Home</a></li>
            <li class="item"><a href="{{ url_for('index') }}#ferramentas">Ferramentas</a></li>
            <li class="item"><a href= "{{ url_for('login')}}">Faça seu Login</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="conteudo-informativo">
        <div class="conteudo">
            <div class="informacoes">
                <h2 class="titulo">iBIDEN<br></h2>
                <h3 class="subtitulo">Navegando pela correção<br>entre Mudança Climática e Dengue</h3>
            </div>
        </div>

        <div class="retangulo-inferior-logos-empresas">
            <div class="items-logos">

            </div>
        </div>

    </section>

    <div class="espacamento">

    </div>

    <section class="conteudo-oque-fazemos">
        <div class="oque-fazemos-informacoes">
            <h4 class="oque-fazemos-title">Por que Nós</h4>
            <h2 class="oque-fazemos-subtitulo">Mudanças Climáticas & Dengue</h2>
            
            <p class="oque-fazemos-paragrafo">Somos mais do que uma simples plataforma informativa; estamos aqui para ajudar você a entender como as mudanças climáticas afetam a ocorrência de dengue. Com o uso de ferramentas avançadas de análise de dados, oferecemos previsões de casos e informações que conectam o clima com a saúde pública.<br>
            <br>
            Nossa plataforma permite que você explore como as variações climáticas influenciam a propagação da dengue e oferece previsões que podem ajudar a proteger você e sua comunidade. Com nosso desenvolvimento, você pode descobrir como essas duas variáveis estão relacionadas, entendendo melhor os riscos e como se preparar.<br>
            <br>
            Nosso compromisso é fornecer informações claras e acessíveis para que você possa tomar decisões informadas no seu dia a dia. Queremos que você esteja sempre à frente, preparado para os desafios das mudanças climáticas e da dengue, com as ferramentas e o conhecimento certos para proteger sua saúde e bem-estar.
            </p>
        </div>

        <div class="oque-fazemos-cards">
            <div class="cards">
                <img src="../static/img/analise.gif" alt="" class="image-cards">
                <h3>Entenda os Dados</h3>
                <p class="paragrafo-cards">Ajudamos você a entender como as mudanças climáticas e a dengue estão conectadas. Fornecemos explicações claras e acessíveis para que você possa usar essa informação no seu dia a dia.</p>
            </div>

            <div class="cards">
                <img src="../static/img/central-de-ajuda.gif" alt="" class="image-cards">
                <h3>Fique Atualizado</h3>
                <p class="paragrafo-cards">Mantenha-se sempre informado sobre as mudanças no clima e na incidência de dengue. Oferecemos atualizações regulares para que você possa se preparar melhor.</p>
            </div>

            <div class="cards">
                <img src="../static/img/ideia.gif" alt="" class="image-cards">
                <h3>Exploração e Inovação</h3>
                <p class="paragrafo-cards">Estamos sempre buscando novas formas de trazer informações relevantes para você. Nossas ferramentas são constantemente aprimoradas para garantir que você tenha acesso ao que há de mais novo em previsões e análises.</p>
            </div>

            <div class="cards">
                <img src="../static/img/aperto-de-mao.gif" alt="" class="image-cards">
                <h3>Clareza e Confiança</h3>
                <p class="paragrafo-cards">Acreditamos que a informação precisa ser clara. Explicamos cada dado e previsão de forma simples, garantindo que você compreenda e confie nas informações fornecidas.</p>
            </div>
        </div>
    </section>

    <div class="espacamento">

    </div>

     <section class="services" id="ferramentas">
        <h2 class="services-title">Ferramentas iBIDEN</h2>

        <div class="services-container">
            <div class="service-item">
                <img src="../static/img/foco_casos_lupa.jpg" alt="" class="image-services">
                <h3 class="title-service">Busca Inteligente sobre Clima e Dengue</h3>
                <p class="paragrafo-services">Encontre informações detalhadas sobre as conexões entre mudanças climáticas e dengue. Nosso motor de busca especializado facilita o acesso rápido e preciso aos dados mais relevantes.</p>
            </div>

            <div class="service-item">
                <img src="../static/img/mapa_interativo.jpg" alt="" class="image-services">
                <h3 class="title-service">Análise e Visualização de Casos de Dengue</h3>
                <p class="paragrafo-services">Explore os dados mais recentes sobre a incidência de dengue por região e capital. Utilize nosso dashboard interativo para visualizar e interpretar as tendências, além de identificar áreas de risco de forma intuitiva.
                </p>
            </div>

            <div class="service-item">
                <img src="../static/img/tempo_digital.jpg" alt="" class="image-services"> 
                <h3 class="title-service">Clima e Tempo em Tempo Real</h3>
                <p class="paragrafo-services">Acompanhe as condições climáticas em tempo real, com dados precisos sobre variáveis como temperatura, umidade e precipitação, que influenciam a propagação da dengue.</p>
            </div>

            <div class="service-item">
                <img src="../static/img/calendario_futurista.jpg" alt="" class="image-services">
                <h3 class="title-service">Previsão de Casos de Dengue</h3>
                <p class="paragrafo-services">Veja as previsões mais atualizadas sobre a incidência de dengue em cada capital brasileira. Esteja sempre preparado com informações precisas e antecipadas.</p>
            </div>

            <div class="service-item">
                <img src="../static/img/monitor_dengue_clima.jpg" alt="" class="image-services">
                <h3 class="title-service">Sugestões de Documentários e Filmes</h3>
                <p class="paragrafo-services">Descubra conteúdo educativo e envolvente sobre dengue e mudanças climáticas. Nossas sugestões de documentários e filmes ajudam a entender melhor essas problemáticas.</p>
            </div>

            <div class="service-item">
                <img src="../static/img/mapa_chatbot.jpg" alt="" class="image-services">
                <h3 class="title-service">Mapas e Interação Inteligente</h3>
                <p class="paragrafo-services">Explore mapas interativos que mostram como as mudanças climáticas e a dengue afetam diferentes regiões. Aproveite o nosso chatbot interativo para tirar dúvidas e explorar os dados de maneira dinâmica e acessível.
                </p>
            </div>

            
        </div>

    </section> 

</main>

<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p><i class=""></i><br>Brazil, São Paulo</p>
            <p><i class=""></i></p>
            <p><i class=""></i>ibiden.com</p>
        </div>
        <div class="footer-right">
            <h4>iBIDEN</h4>
            <p>Junte-se a nós e tenha acesso imediato às ferramentas de previsão e análise de mudanças climáticas e dengue. Cadastre-se agora e explore tudo que nossa plataforma oferece para proteger você e sua comunidade!</p>
            <div class="social-icons">
                <a href="#"><i class=""></i></a>
                <a href="#"><i class=""></i></a>
                <a href="#"><i class=""></i></a>
                <a href="#"><i class=""></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
   window.addEventListener('scroll', function() {
    var header = document.getElementById('header');
    if (window.scrollY > 50) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
});

</script>

</body>
</html>