<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/style-manual.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
</head>
<body>

    <header class="cabecalho" id="header">
    
        <a href="#" class="logo">
           <img src="../static/img/nuvem_dourada.png" alt="" class="logo">
        </a>
    
     <nav class="navegacao-opcoes-menu">
        <ul class="items-menu">
            <li class="item"><a href= "{{ url_for('busca_clima')}}">Home</a></li>
            <li class="item"><a href="{{ url_for('dengueinsight') }}">Dengue Insight</a></li>
            <li class="item"><a href= "{{ url_for('buscar_impactos')}}">EcoDengue</a></li>
            <li class="item"><a href= "{{ url_for('dashboard')}}">Dengue PBI</a></li>
            <li class="item"><a href= "{{ url_for('manual')}}">Help</a></li>
            <li class="item"><a href= "{{ url_for('sobre_nos')}}">About</a></li>
        </ul>
    </nav>
    <div class="user-menu-container">
        <img src="static/img/icone_usuario.png" alt="User Icon" class="user-icon">

        <div class="user-menu">
            <a href="{{ url_for('gerenciar_conta') }}">Gerenciar sua Conta</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div> 
</header>
<body>
    <div class="manual">
        <div class="manual_titulo">
            <h1><br><br>MANUAL</h1>
        </div>
        <div class="manual_subtitulo">
            <h1>AQUI VOCÊ ENCONTRA O GUIA DA FERRAMENTA</h1>
        </div>
        <div class="conteudo">
            <p>Bem-vindo ao iBIDEN!<br>

            <br>Estamos animados em tê-lo conosco! Este é o seu ponto de partida para explorar informações atualizadas sobre a relação da Dengue e o Clima.<br>            
                
            <br>Nessa seção você encontra o guia completo da ferramenta para te guiar na jornada da Dengue na Era da Mudança Climática<br></p>
        </div>

        <div class="figura">
            <h1><br><br>DOCUMENTAÇÃO iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>A CONSTRUÇÃO</h1>
        </div>
       
        <div class="conteudo">
            Para que a ferramenta iBIDEN pudesse oferecer recursos relacionados com o Clima&Tempo e seu Impacto Ambiental, foi feito o uso de linguagens de programação e integração com APIs,   que você pode ter acesso a mais informações nessa seção.<br>

            <br>Para a construção da página WEB foi utilizado a linguagem de marcação de hipertexto HTML (HyperText Markup Language) para criar e estruturar conteúdo acerca das questões que giram em torno deste estudo. Ela foi fundamental para especificar a estrutura e o formato dos elementos da página, como textos, imagens, links e outros elementos interativos presentes na plataforma.<br>

            <br>Além disso, também foi feito o uso do CSS (Cascading Style Sheets) que é uma tecnologia essencial que complementa o HTML na construção de páginas da web. O CSS pode ser definido como uma linguagem de estilo que separa a apresentação e o layout do conteúdo. Ele permitiu que fossem criadas regras de estilo para controlar a aparência visual dos elementos HTML, como cores, fontes, espaçamentos, tamanhos e posicionamento dos elementos presentes na plataforma. O CSS foi fundamental para a personalização e a estilização das páginas web, tornando-as visualmente atraentes e funcionais para os usuários.<br>

            <br>Em relação à parte lógica da estrutura do motor de busca, foi realizada a ligação na API do Google para que ele fosse capaz de retornar os resultados das buscas feitas pelos usuários, levando em consideração os parâmetros de busca de resultados em português que contivessem as palavras chaves: "Dengue", "Aedes Aegypt", “Mudanças Climáticas", "Efeito Estufa", "Impacto Ambiental" e  "Aquecimento Global”.<br>
            Isso permitiu que o mecanismo de busca aproveitasse a enorme base de dados do Google para buscar informações relevantes em tempo real, alinhando-se com os parâmetros de busca definidos.  Para tanto, foi utilizada a linguagem de programação Javascript que desempenhou um papel crucial nesse processo.<br>

            <br>JavaScript é uma linguagem versátil e amplamente suportada que é executada diretamente no navegador do usuário. Isso possibilitou a criação de uma experiência de busca interativa e responsiva, que permite aos usuários inserir suas consultas, ver os resultados e interagir com as informações de maneira fluida.<br>

            <br>A integração da API do Google e o uso da linguagem de programação JavaScript desempenharam um papel crucial na criação de um motor de busca eficaz e amigável, que fornece aos usuários acesso rápido e preciso às informações desejadas sobre temas ambientais críticos.<br>
                
            <br>Portanto, a partir das ferramentas supracitadas aplicadas ao sistema focado no sistema meteorológico e os impactos ambientais e suas consequências na saúde, foi possível criar um motor de busca de impactos ambientais que não apenas rastreie e identifique esses impactos e as torne acessíveis a todos os públicos.

            <br>O acesso à informação desempenha um papel fundamental na resolução de problemas, proporcionando uma base sólida para a tomada de decisões fundamentadas em dados concretos, reais e atualizados, o que, por sua vez, gera incentivos para a implementação de soluções sustentáveis.<br>
                
            <br>Com base nisso, foi realizada a confecção de um motor de busca, como pode ser observado na Figura 1, sendo esta a  primeira interface disponível denominada "Home", na qual o usuário tem a capacidade de inserir dados relacionados à cidade de interesse, com o objetivo de obter informações detalhadas sobre as condições meteorológicas locais.
        </div>
        <div class="figura">
            <h1><br>FIGURA 1 - PÁGINA PRINCIAL</h1>
        </div>
        <div class="motor-de-busca">
            <h1>BUSCA CLIMA&TEMPO</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_pagina_principal.JPG" alt="">
        </div>
        <div class="conteudo">
            Ao realizar essa consulta, o usuário será redirecionado para a próxima etapa do sistema, o resultado de sua busca.<br>
            Essa possui como finalidade principal é fornecer informações em tempo real sobre parâmetros climáticos, tais como velocidade do vento, radiação solar, precipitação e umidade do ar, em relação à temperatura. Todos esses dados serão disponibilizados instantaneamente após a realização da pesquisa, como pode ser observado na Figura 2.
        </div>
        <div class="figura">
            <h1><br>FIGURA 2 - RESULTADO CLIMA&TEMPO</h1>
        </div>
        <div class="motor-de-busca">
            <h1>CLIMA&TEMPO</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_resultado_clima.JPG" alt="">
        </div>
        <div class="conteudo">
            Ainda na página principal, tendo em vista o objetivo de alcançar um compromisso com a promoção da educação ambiental, a plataforma também possui uma seção denominada "Cinema iBIDEN”, conforme apresentado na figura 8, na qual os usuários poderão encontrar recomendações de filmes, séries e documentários relacionados ao meio ambiente.<br> A intenção é manter uma seleção diversificada de conteúdo para atender às diversas preferências de nosso público, sendo que ao clicar em cada um dos ícones, ele será automaticamente direcionado à plataforma em que o conteúdo estará disponível. <br></div>
        <div class="figura">
            <h1><br>FIGURA 3 - CINEMA iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>GUIA DE CONTEÚDOS</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_cinema.JPG" alt="">
        </div>
        <div class="conteudo">
            Adicionalmente, nossa plataforma é equipada com um sistema que permite ao usuário acessar informações relevantes relacionadas ao clima, casos reais e previsão de dengue e um mapa de calor da região de interesse, além de um mapa de casos nas Capitais do Brasil. <br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 4 - DENGUE INSIGHT</h1>
        </div>
        <div class="motor-de-busca">
            <h1>SEU GUIA CONTRA A DENGUE</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dengue_insight.JPG" alt="">
        </div>
        <div class="conteudo">
            Para isso, é disponibilizado três opções de telas interativas com informações distintas para melhor fornecer informações ao usuário. Dentro da aba “Dengue Insight”, será possível ter acesso a interface de escolha.<br>
            No primeiro ícone, o usuário será direcionado a uma página que exibe três mapas distintos, específicos para o país de pesquisa selecionado, fornecendo uma visão abrangente e contextualizada da situação geográfica. No segundo ícone, o usuário terá acesso a um mapa exclusivo do Brasil, destacando o número de casos de dengue registrados nas capitais brasileiras, com informações atualizadas e detalhadas.<br>
            Por fim, a terceira ferramenta oferece previsões de casos de dengue para cada capital brasileira, apresentadas por meio de gráficos comparativos que permitem visualizar tendências e estimativas futuras. Esses gráficos são pensados para facilitar a análise, oferecendo insights claros sobre o comportamento esperado dos casos, auxiliando em ações de prevenção e controle.

        </div>
        <div class="figura">
            <h1><br>FIGURA 5 - DENGUE INSGHT</h1>
        </div>
        <div class="motor-de-busca">
            <h1>FERRAMENTAS</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dengue_insight_ferramentas.JPG" alt="">
        </div>
        <div class="conteudo">
            Para a confecção e disponibilização da primeira ferramenta foi feito o uso da A API Weather, também conhecida como OpenWeather API, que consiste em uma ferramenta amplamente utilizada para acessar dados meteorológicos em tempo real, previsões e informações climáticas históricas. Ela é fornecida pela OpenWeather, que oferece dados coletados de fontes como estações meteorológicas, sensores de satélite e modelos de previsão meteorológica. Os desenvolvedores podem integrar essa API em suas aplicações para obter informações climáticas atualizadas, como temperatura, umidade, precipitação, vento, entre outras.
           </div>
        <div class="figura">
            <h1><br>FIGURA 6 - MAPA DE VENTO</h1>
        </div>
        <div class="motor-de-busca">
            <h1>WEATHER API</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_mapa_vento.JPG" alt="">
        </div>
                <div class="figura">
            <h1><br>FIGURA 7 - MAPA DE TEMPERATURA</h1>
        </div>
        <div class="motor-de-busca">
            <h1>WEATHER API</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_mapa_temperatura.JPG" alt="">
        </div>
                <div class="figura">
            <h1><br>FIGURA 8 - MAPA DE PRESSÃO</h1>
        </div>
        <div class="motor-de-busca">
            <h1>WEATHER API</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_mapa_pressao.JPG" alt="">
        </div>
        <div class="conteudo">
            Reconhecendo o impacto direto das condições climáticas na incidência de dengue, o mapa apresentado na Figura 9 exibe informações detalhadas sobre os casos de dengue no Brasil no ano de 2024. Esses dados foram obtidos por meio da API Infodengue, um sistema inovador de alerta para arboviroses que combina fontes de dados diversas para gerar informações precisas e atualizadas sobre a situação epidemiológica.       
        </div>
        <div class="figura">
            <h1><br>FIGURA 9 - CASOS DE DENGUE NO BRASIL<h1>
        </div>
        <div class="motor-de-busca">
            <h1>INFODENGUE API</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_mapa_brasil.JPG" alt="">
        </div>
        <div class="conteudo">
            Além do recurso detalhado acima, com a integração estabelecida com a API Infodengue, foi desenvolvido um módulo específico para a previsão de casos de dengue no Brasil. Esse recurso evidencia a relação entre a incidência de dengue e as mudanças climáticas, já que as condições meteorológicas, como temperatura e umidade, impactam diretamente a proliferação do mosquito Aedes aegypti, transmissor da doença. Conforme aponta o Infodengue, “as variações climáticas afetam diretamente o ciclo de vida e a capacidade de disseminação do mosquito, tornando o monitoramento climático essencial para a previsão e controle de epidemias” (Infodengue, 2024).<br>
            A previsão de casos é apresentada em um gráfico que combina duas visualizações complementares: barras representando os casos reais registrados e uma linha que indica a projeção de casos futuros. Essa abordagem permite que o usuário visualize, de forma clara, as tendências passadas e futuras, possibilitando uma comparação direta entre os dados reais e os estimados. A integração desses elementos gráficos facilita a análise e torna o recurso acessível para gestores e profissionais de saúde, ajudando na identificação de períodos de maior risco e no planejamento de intervenções preventivas.
                 
        </div>
        <div class="figura">
            <h1><br>FIGURA 10 - PREVISÃO DA DENGUE</h1>
        </div>
        <div class="motor-de-busca">
            <h1>INFODENGUE API</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_previsao.JPG" alt="">
        </div>
        <div class="conteudo">
            Além disso, nossa plataforma inclui uma ferramenta de pesquisa dedicada aos impactos ambientais, conforme demonstrada a seguir.<br>
            Nessa funcionalidade, os usuários podem obter informações atualizadas sobre eventos relacionados a problemática da dengue e o meio ambiente com apenas um clique. Basta inserir o nome de sua cidade, e a plataforma retornará as principais notícias sobre impacto ambiental naquela região.                     
        </div>
        <div class="figura">
            <h1><br>FIGURA 11 - ECODENGUE SEARCH</h1>
        </div>
        <div class="motor-de-busca">
            <h1>A DENGUE E OS IMPACTOS AMBIENTAIS</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_ecodengue.JPG" alt="">
        </div>
        <div class="figura">
            <h1><br>FIGURA 10 - RESULTADO DA BUSCA</h1>
        </div>
        <div class="motor-de-busca">
            <h1>IMPACTOS AMBIENTAIS</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_ecodengue_resultado.JPG" alt="">
        </div>
        <div class="conteudo">
            Na Figura 10, apresentamos o resultado obtido após a execução de uma pesquisa direcionada a uma cidade específica. Nesse processo, o sistema utiliza técnicas de correspondência de palavras-chave relacionadas ao impacto ambiental e à localização fornecida. Como resultado, o software disponibiliza informações específicas, permitindo que o usuário acesse fontes de dados, sites e materiais de pesquisa pertinentes ao tema abordado.<br>
            Diante dessa ferramenta, a informação ambiental é tratada como uma fonte crucial para estimular o envolvimento do público nas decisões que impactam o meio ambiente. Portanto, essa ferramenta possibilita um acesso facilitado às informações.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 11 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>DASHBOARD</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard.JPG" alt="">
        </div>
        <div class="conteudo">
            Na Figura 11, é apresentado o dashboard iBIDEN, que foi desenvolvido utilizando a ferramenta Power BI. Este dashboard é composto por um guia que direciona o usuário a quatro telas distintas. Essa configuração intuitiva permite que os usuários se orientem facilmente pelas diferentes seções da plataforma.<br>
        </div>
        <div class="conteudo">
            Na segunda tela, é possível visualizar o aumento da temperatura global ao longo do período de 1961 a 2020, destacando uma tendência preocupante de aquecimento ao longo das décadas. Os dados revelam um padrão consistente de elevação da temperatura, sugerindo o impacto significativo das atividades humanas no sistema climático. Esse aquecimento traz diversas consequências, incluindo o derretimento das calotas polares, a elevação do nível do mar, a maior frequência de eventos climáticos extremos e mudanças nos padrões de precipitação.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 11 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>AUMENTO DE TEMPERATURA</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard_aumento.JPG" alt="">
        </div>
        <div class="conteudo">
            Na segunda tela, é possível visualizar o aumento da temperatura global ao longo do período de 1961 a 2020, destacando uma tendência preocupante de aquecimento ao longo das décadas. Os dados revelam um padrão consistente de elevação da temperatura, sugerindo o impacto significativo das atividades humanas no sistema climático. Esse aquecimento traz diversas consequências, incluindo o derretimento das calotas polares, a elevação do nível do mar, a maior frequência de eventos climáticos extremos e mudanças nos padrões de precipitação.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 12 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>AUMENTO DE TEMPERATURA</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard_aumento.JPG" alt="">
        </div>
        <div class="conteudo">
            A seguir, a interface apresenta a relação entre precipitação e casos de dengue, evidenciando uma correlação direta entre esses fatores. A visualização vai além ao exibir um gráfico de barras que revela um padrão significativo: períodos de pico de chuvas frequentemente precedem aumentos na incidência de dengue, sugerindo uma influência climática na propagação da doença e destacando a necessidade de considerar variáveis climáticas na formulação de estratégias de prevenção e controle.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 13 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>CHUVA E DENGUE</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard_chuva_e_dengue.JPG" alt="">
        </div>
        <div class="conteudo">
            A análise se aprofunda ao explorar a relação entre temperatura e incidência de casos de dengue. Observa-se uma forte correlação entre esses dois fatores, perceptível no alinhamento das tendências no gráfico de linhas, onde picos de temperatura geralmente coincidem com o aumento dos casos. Esse padrão sugere que condições meteorológicas, como temperaturas elevadas, podem favorecer a proliferação do vetor transmissor da dengue, intensificando a ocorrência da doença. Essa visualização fornece insights valiosos sobre as interações complexas entre fatores ambientais e a propagação de doenças, auxiliando na implementação de medidas preventivas e estratégias de controle da dengue.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 14 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>TEMPERATURA E DENGUE</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard_temp_dengue.JPG" alt="">
        </div>
        <div class="conteudo">
            Ademais, em compromisso com a facilitação do acesso à informação e a promoção da conscientização sobre a dengue, o dashboard inclui recursos educacionais abrangentes. Na Figura 22, os usuários encontram um guia detalhado que explora em profundidade a doença, incluindo informações sobre seus sintomas, modos de transmissão e complicações potenciais associadas. Este material informativo tem como objetivo oferecer uma compreensão clara da dengue e suas implicações para a saúde pública, contribuindo para uma conscientização mais ampla sobre a doença.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 11 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>O QUE É A DENGUE?</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard_dengue.JPG" alt="">
        </div>

        <div class="conteudo">
            Também está disponível uma cartilha dedicada exclusivamente à prevenção da dengue. Este recurso contém uma série de medidas práticas que os indivíduos podem adotar para reduzir o risco de contrair a doença e controlar a proliferação do mosquito transmissor. Desde dicas simples para eliminar criadouros de mosquitos até orientações sobre o uso de repelentes e a instalação de telas protetoras, a cartilha visa capacitar os usuários a adotarem atitudes proativas para proteger a si mesmos e suas comunidades contra a dengue.<br>
        </div>
        <div class="figura">
            <h1><br>FIGURA 11 - POWER BI iBIDEN</h1>
        </div>
        <div class="motor-de-busca">
            <h1>O QUE É A DENGUE?</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_dashboard_cartilha.JPG" alt="">
        </div>

        <div class="conteudo">
            O sistema também conta com uma página dedicada ao gerenciamento da conta do usuário, que inclui funcionalidades essenciais, como a mudança de senha, que pode ser acessada clicando no ícone em destaque na figura 24. Esta seção é projetada para garantir que os usuários possam gerenciar suas credenciais de acesso de forma simples e segura.<br>
            Ao acessar a página de gerenciamento de conta, o usuário encontra um formulário onde pode inserir sua senha atual, bem como a nova senha desejada. Após submeter essas informações, o sistema realiza uma consulta no banco de dados para verificar a validade da senha atual. Se a senha inserida corresponder àquela armazenada, um comando de atualização é executado para modificar a senha no banco de dados.<br>
        </div>
        <div class="figura">
            <h1><br>GERENCIE SUA CONTA</h1>
        </div>
        <div class="motor-de-busca">
            <h1>A SUA SEGURANÇA</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_gerenciamento.JPG" alt="">
        </div>

        <div class="conteudo">
            Para melhorar a usabilidade do sistema desenvolvido e orientar os usuários nas análises realizadas, foi criado um chatbot com foco em dengue e mudanças climáticas.<br>
            O seu objetivo é proporcionar uma navegação intuitiva e educativa pelo conteúdo do website, além de explicar as análises disponíveis no dashboard analítico, o que facilita o acesso a informações relevantes e promove uma melhor compreensão dos dados relacionados a esses temas.<br>
            Além disso, essa ferramenta foi configurada para reconhecer variações de palavras e diferentes grafias, o que facilita a interação, respondendo de maneira precisa e eficiente, independentemente do uso de letras maiúsculas, minúsculas ou de pequenas variações de termos. Isso permite que o chatbot seja um instrumento acessível para todos os tipos de usuários, desde os menos familiarizados com a terminologia de dengue e mudanças climáticas até os mais experientes, que podem rapidamente acessar páginas no site por meio dos links fornecidos.

        </div>
        <div class="figura">
            <h1><br>GERENCIE SUA CONTA</h1>
        </div>
        <div class="motor-de-busca">
            <h1>A SUA SEGURANÇA</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_chatbot.JPG" alt="">
        </div>

        <div class="conteudo">
            Além disso, com o intuito de continuar o desenvolvimento deste projeto, foi criado uma seção para que os usuários possam fornecer seu ponto de vista acerca da plataforma e do tema proposto. Para isso, conforme figura 12, no rodapé de cada página apresentada, há uma solicitação de feedback:
        </div>
        <div class="figura">
            <h1><br>FIGURA 11 - FEEDBACK</h1>
        </div>
        <div class="motor-de-busca">
            <h1>SUA PARTICIPAÇÃO É MUITO IMPORTANTE</h1>
        </div>
        <div class="imagens">
            <img src="static/img/manual_feedback.JPG" alt="">
        </div>
        <div class="conteudo">
            A partir dessa iniciativa, que conta com dez perguntas objetivas, será possível manter a plataforma atualizada e usual. Assim, fomenta o sucesso contínuo de um projeto como o motor de busca e mantem a relevância nas informações, segurança nos dados a e aprimoramento da plataforma tendo em vista as necessidades dos usuários.<br>
            O grupo iBIDEN também expressa a esperança de que seu motor de busca seja uma contribuição significativa para um futuro mais sustentável e consciente das questões relacionadas ao clima e ao meio ambiente. <br>
            Junte-se a nós em um esforço para criar conscientização e promoção de uma ação em prol do meio ambiente em uma jornada de colaboração e engajamento na causa ambiental.<br><br>
    </div>
        <div class="chatbot-toggle" id="chatbot-toggle" aria-label="Abrir Chatbot" style="display: flex; flex-direction: column; align-items: center;">
            <img src="static/img/nuvem_mosquito.png" alt="Ícone do Chat" style="width: 80px; height: 80px; margin-top: 5px;"> <!-- Ajuste o caminho se necessário -->
    </div>
    <div class="chat-container" id="chat-container">
        <div class="chat-header">
            <h3>ChatiBIDEN</h3>
            <span class="close-btn" id="close-btn" style="cursor: pointer;">&times;</span>
        </div>
    <div class="chat-box" id="chat-box">
        <div class="message bot-message">
            👋 Olá! Sou o ChatiBIDEN, pronto para te ajudar a entender mais sobre o clima e os casos de dengue! 
            Como posso te ajudar hoje? Escolha uma das opções abaixo ou digite <strong>Dengue</strong> para começar:
            <ul id="main-options">
                <li><a href="{{ url_for('busca_clima')}}">Ver dados climáticos 🌦️</a></li>
                <li><a href="{{ url_for('dengueinsight')}}">Visualizar Métricas da Dengue 🦟</a></li>
                <li><a href="{{ url_for('casosgrafico')}}">Previsão da Dengue 🚨</a></li>
                <li><a href="{{ url_for('buscar_impactos')}}">Saber mais sobre Impactos Ambientais 🔥</a></li>
                <li><a href="{{ url_for('mapadengue')}}">Mapa da Dengue no Brasil 🌎</a></li>
                <li><a href="{{ url_for('dashboard')}}">Acessar Dashboard 📈</a></li>
                <li><a class="option-btn" href="#" onclick="showSubOptions()">Explicação do Dashboard 👨‍🏫</a></li>
            </ul>
        </div>

        <!-- Sub-opções ocultas inicialmente -->
        <div class="sub-options" id="sub-options" style="display: none;">
            <p>Escolha uma das opções abaixo para continuar:</p>
            <button onclick="explainTopic('aumento-temperatura')">Aumento da Temperatura 🌡️</button>
            <button onclick="explainTopic('dengue-e-clima')">Dengue e Clima 🦟</button>
            <button onclick="explainTopic('dengue-e-chuva')">Dengue e Chuva 🌧️🦟</button>
            <button onclick="explainTopic('como-se-proteger')">Como se Proteger 🧴</button>
            <a class="option" href="#" onclick="goBack()">Voltar</a>
        </div>
    </div>

        <div class="input-container">
            <input type="text" id="user-input" class="input-field" placeholder="Digite sua mensagem..." aria-label="Campo de mensagem">
            <button class="send-btn" onclick="sendMessage()">Enviar</button>
        </div>
    </div>


    <script src="static/script_chat.js"></script>
    
<script>
   window.addEventListener('scroll', function() {
    var header = document.getElementById('header');
    if (window.scrollY > 50) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
});
</script>

<script>

// script.js

function toggleMenu() {
    const menuItems = document.querySelector('.items-menu');
    const userMenuContainer = document.querySelector('.user-menu-container');

    menuItems.classList.toggle('active');
    userMenuContainer.classList.toggle('active');
}
    // Criar o botão no JavaScript
    const menuToggle = document.createElement("button");
    menuToggle.classList.add("menu-toggle");
    menuToggle.innerHTML = "☰";
    document.querySelector(".cabecalho").appendChild(menuToggle);

    // Alternar visibilidade do menu
    menuToggle.addEventListener("click", function () {
        const menu = document.querySelector(".navegacao-opcoes-menu");
        menu.classList.toggle("show");
    });
</script>

</body>
</html>