<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
    content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/style-maps.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMWuLru8440er_C13PcdAen0vjXd3k-C4&callback=initMap"></script>
</head>

<body>
    <header class="cabecalho">
        <a href="{{ url_for('index') }}">
            <img src="static/img/nuvem_dourada.png" alt="Descrição da imagem" class="imagem-ao-lado-do-titulo">
            <span class="titulo">iBIDEN</span>
        </a>
        <nav class="navegacao">
            <ul class="menu">
                <li class="item"><a href= "{{ url_for('index')}}">Clima&Tempo</a></li>
                <li class="item"><a href="{{ url_for('geolocalizacao')}}">Geolocalização</a></li>
                <li class="item"><a href="{{ url_for('buscar_impactos')}}">Impacto Ambiental</a></li>
                <li class="item"><a href="{{ url_for('index') }}#noticias">Documentários</a></li>
                <li class="item"><a href="{{ url_for('manual')}}">Tutorial</a></li>
                <li class="item"><a href="{{ url_for('sobre_nos')}}">Sobre Nós</a></li>
            </ul>
        </nav>      
    </header>
    <div id="search-box">
        <input type="text" id="location-input" placeholder="Digite uma localização">
        <button onclick="searchLocation()">Pesquisar</button>
    </div>
    <div class="container">
        <div class="tooltip" onclick="toggleTooltip(this)">
          <span class="tooltiptext">
            <div class="line green">
              <span></span> Trânsito leve - Velocidade média está acima de 80km/h 
            </div>
            <div class="line yellow">
              <span></span> Trânsito moderado - Velocidade média entre 40 e 80 km/h 
            </div>
            <div class="line red">
              <span></span> Trânsito intenso - Velocidade média abaixo de 40km/h 
            </div>
            <div class="line dar">
              <span></span> Trânsito parado naquele trecho da via 
            </div>
            <div class="line der">
              <span></span>  Estrada bloqueada
            </div>
            <div class="line acidente">
              <span></span>Acidente
            </div>
            <div class="line via">
              <span></span>ViaMobilidade - Trem/Metrô
            </div>
            <div class="line CPTM">
              <span></span>CPTM - Trem/Metrô
            </div>
          </span>
      
      
          <i class="fas fa-info-circle icon"></i>
        </div>
      </div>
    <div id="map"></div>
    <main class="conteudo-final">
        <section class="feedback">
            <h1 class="titulo">Gostaríamos de saber a sua perspectiva</h1>
            <div class= "frase-feedback">
                <p>Compartilhe sua opinião e ajude-nos a aprimorar sua experiência aqui no IBIDEN. <br>Valorizamos suas sugestões para oferecer um serviço melhor.<br><br>Clique no botão abaixo e deixe seu feedback</p>
            </div>
            <a href="https://forms.office.com/r/QtLVnv3ueg" target="_blank">
                <div class="feedback-button">
                    <button>FEEDBACK</button>
                </div>
            </a>
            <section>
                <div class="direitos">
                    <h1>IBIDEN&reg;</h1>
                    <p><br>&copy; 2023.<br>All rights reserved.</p>
                </div>
                <div class="tags">
                    <h1>TAGS</h1>
                    <p><br>mudanças climáticas   •   news<br>  •   previsão em tempo real</p>
                </div>
                <div class="about">
                    <h1>ABOUT</h1>
                <a href="{{ url_for('sobre_nos')}}">
                    <div class="about-button">
                        <button><p>Sobre nós</p></button>
                    </div>
                </a>
            </section>                        
        </section>
    </main>
    <script>
        let map;
        let marker;
        let trafficLayer;
        let transitLayer;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -23.5505, lng: -46.6333 }, // Coordenadas iniciais (São Paulo, Brasil)
                zoom: 12
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
            });

            // Inicializa a camada de trânsito
            trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);

            // Inicializa a camada de transporte público
            transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);
        }

        function searchLocation() {
            const locationInput = document.getElementById('location-input').value;
            const geocoder = new google.maps.Geocoder();

            geocoder.geocode({ address: locationInput }, (results, status) => {
                if (status === google.maps.GeocoderStatus.OK && results.length > 0) {
                    const location = results[0].geometry.location;
                    map.setCenter(location);
                    marker.setPosition(location);
                } else {
                    alert('Localização não encontrada.');
                }
            });
        }
    </script>

    <script>
        window.onload = function () {
            initMap();
        };
    </script>



    <script>
    function toggleTooltip(element) {
        element.classList.toggle('active');
    }
    </script>

</body>
</html>
