<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/style-geolocalizacao.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">

</head>
<body>
    <header class="cabecalho">
        <spam class="titulo">iBIDEN</spam>
        <nav class="navegacao">
            <ul class="menu">
                <li class="item"><a href= "{{ url_for('index')}}">Clima&Tempo</a></li>
                <li class="item"><a href="{{ url_for('geolocalizacao')}}">Geolocalização</a></li>
                <li class="item"><a href="{{ url_for('buscar_impactos')}}">Impacto Ambiental</a></li>
                <li class="item"><a href="{{ url_for('index') }}#noticias">Documentários</a></li>
                <li class="item"><a href="{{ url_for('sobre_nos')}}">Sobre Nós</a></li>
            </ul>
        </nav>    
    </header>
    <main class="conteudo-principal" id="projetos">
        <section class="paineis">
            <h1 class="titulo">iBIDEN MAPS</h1>
            <div class= "frase-abaixo">
                <p>Explore com precisão os impactos das condições climáticas<br>Tenha acesso a um mapa interativo exibindo dados de calor, pressão e temperatura em um painel, e <br> alternativamente, descubra o tráfego em tempo real, transporte público e explore o Street View em outro.</p>
            </div>
            <div class="pesquisa">
                <a href="{{ url_for('maps')}}">
                    <button type="submit" class="submit-button">
                      <img src="static/img/icone_onibus.png" alt="Ícone de ônibus" class="button-icon">
                    </button>
                </a>
                </form>                  
                <a href="{{ url_for('maps_calor')}}">
                    <button type="submit" class="submit-button">
                      <img src="static/img/icone_nuvem.png" alt="Ícone de ônibus" class="button-icon">
                    </button>
                </a>
                </form> 
            </div>
            <div class="imagem-painel projeto1 mostrar"></div>
        </section>
    </main>
    </main>
