<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
    <link rel="stylesheet" href="static/style-maps-calor.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">

</head>
<body>
    <header class="cabecalho">
        <a href= "{{ url_for('index')}}"
             <spam class="titulo">iBIDEN</spam>
        </a>
        <nav class="navegacao">
            <ul class="menu">
                <li class="item"><a href= "{{ url_for('index')}}">Clima&Tempo</a></li>
                <li class="item"><a href="{{ url_for('geolocalizacao')}}">Geolocalização</a></li>
                <li class="item"><a href="{{ url_for('buscar_impactos')}}">Impacto Ambiental</a></li>
                <li class="item"><a href="{{ url_for('index') }}#noticias">Documentários</a></li>
                <li class="item"><a href="{{ url_for('sobre_nos')}}">Sobre Nós</a></li>
            </ul>
        </nav>      
    </header>
    <input type="text" id="locationInput" placeholder="Digite o local desejado">
    <button type="submit" id="searchButton">Pesquisar</button>
    <div id="windy"></div>
    <script src="static/script.js"></script>
</body>
</html>


