<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos uma empresa engajada com o Impacto causado pelas mudanças climáticas. Aqui você encontra os principais guias para o seu dia a dia, porque prever o futuro é coisa do presente.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/style-pesquisa-geo.css">
    <title>iBIDEN</title>
    <link rel="icon" type="image/png" href="static/img/nuvem_dourada.png">
</head>
<body>
    <header class="cabecalho">
        <spam class="titulo">iBIDEN</spam>
        <nav class="navegacao">
            <ul class="menu">
                <li class="item"><a href= "{{ url_for('index')}}">Clima&Tempo</a></li>
                <li class="item"><a href="{{ url_for('geolocalizacao')}}">Geolocalização</a></li>
                <li class="item"><a href="{{ url_for('buscar_impactos')}}">Impacto Ambiental</a></li>
                <li class="item"><a href="{{ url_for('index') }}#noticias">Documentários</a></li>
                <li class="item"><a href="{{ url_for('sobre_nos')}}">Sobre Nós</a></li>
            </ul>
        </nav>      
    </header>
    <main class="conteudo-principal" id="projetos">
        <section class="paineis">
            <h1 class="titulo">iBIDEN FORECAST</h1>
            <div class="pesquisa">
                <form action="/resultado-de-pesquisa.html" method="get">
                    <p><input type="text" id="pesquisa" name="q" placeholder="Digite sua cidade e descubra o Clima&Tempo" class="caixa-pesquisa"></p>
                    <input type="submit" value="Pesquisar">
                </form>
            </div>
            <div class= "frase-abaixo">
                <p>Explore com precisão as condições climáticas e embarque em uma jornada <BR>personalizada pelo mundo da meteorologia com Ibiden: descubra o futuro meteorológico.</p>
            </div>
            <div class="imagem-painel projeto1 mostrar"></div>
        </section>
    </main>
    
    <main class="conteudo-final">
        <section class="feedback">
            <h1 class="titulo">Gostaríamos de saber a sua perspectiva</h1>
            <div class= "frase-feedback">
                <p>Compartilhe sua opinião e ajude-nos a aprimorar sua experiência aqui no IBIDEN. <br>Valorizamos suas sugestões para oferecer um serviço melhor.<br><br>Clique no botão abaixo e deixe seu feedback</p>
            </div>
            <div class="imagem-feedback"></div>
            <a href="https://forms.office.com/r/QtLVnv3ueg">
                <div class="feedback-button">
                    <button>FEEDBACK</button>
                </div>
            </a>
            <section>
                <div class="direitos">
                    <h1>IBIDEN&reg;</h1>
                    <p><br>&copy; 2023.<br>All rights reserved.</p>
                </div>
                <div class="tags">
                    <h1>TAGS</h1>
                    <p><br>mudanças climáticas   •   news<br>  •   previsão em tempo real</p>
                </div>
                <div class="about">
                    <h1>ABOUT</h1>
                <a href="{{ url_for('sobre_nos')}}">
                    <div class="about-button">
                        <button><p>Sobre nós</p></button>
                    </div>
                </a>
            </section>
                        
        </section>
    </main>
</body>